.App {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;

    * {
        padding: 0;
        margin: 0;
    }
}

.sidebar {
    white-space: nowrap;
    overflow: hidden;
}

.col {
    min-width: min-content;
}

.close {
    animation: closeSidemenu 0.5s normal forwards ease-in-out;
}

.open {
    animation: openSidemenu 0.5s normal forwards ease-in-out;
}

@keyframes closeSidemenu {
    from {
        width: 16.7%;
    }

    to {
        width: 0;
    }
}

@keyframes openSidemenu {
    from {
        width: 0;
    }

    to {
        width: 16.7%;
    }
}
