.App {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    * {
        padding: 0;
        margin: 0;
    }
}

.close {
    animation: close 0.5s normal forwards ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes close {
    from {
        width: 25%;
    } to {
        width: 0;
    }
}